<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BharatMapsApiKey</key>
	<string>0000000000</string>
	<key>BharatMapsSourceRevision</key>
	<string>ec69210929680f9737e11d7a68f9810e90d71ddf</string>
	<key>BuildMachineOSBuild</key>
	<string>25G83</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>BharatMaps</string>
	<key>CFBundleIdentifier</key>
	<string>com.bharatmaps.sdk</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BharatMaps</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.57</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneSimulator</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.57</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformName</key>
	<string>iphonesimulator</string>
	<key>DTPlatformVersion</key>
	<string>27.0</string>
	<key>DTSDKName</key>
	<string>iphonesimulator27.0</string>
	<key>DTXcode</key>
	<string>2700</string>
	<key>DTXcodeBuild</key>
	<string>27A266a</string>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
